<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>MergeLeadGRPDPPRA.MergeLead(java.lang.String, java.lang.String)[pri:0, instance:Week6.Day1.MergeLeadGRPDPPRA@bca1e0]<br/></td></tr>
</table>
