<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>CreateLeadExcelPra.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6.Day2.CreateLeadExcelPra@17b4f4c]<br/></td></tr>
<tr><td>smoke</td><td>EditLeadExcelPar.EditLead(java.lang.String, java.lang.String)[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]<br/></td></tr>
</table>
