<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FunctionalParllel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>18/09/23 11:28:53</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:Week6.Day2.CreateLeadExcelPra@17b4f4c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/23 11:28:54</td>   <td>327</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLeadExcelPra.setData()[pri:0, instance:Week6.Day2.CreateLeadExcelPra@17b4f4c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/23 11:28:54</td>   <td>327</td> <td>&nbsp;</td><td title="&gt;&gt;EditLeadExcelPar.setData()[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/23 11:28:54</td>   <td>390</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:Week6.Day2.CreateLeadExcelPra@17b4f4c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@26961049</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/23 11:28:54</td>   <td>405</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@17721675</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/23 11:28:55</td>   <td>1529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@17721675</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/23 11:29:51</td>   <td>57902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLeadExcelPar.EditLead(java.lang.String, java.lang.String)[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]">EditLead</td> 
  <td>TestNG-test=Test-2@17721675</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/23 11:30:09</td>   <td>75276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@17721675</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/23 11:30:09</td>   <td>75588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@17721675</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/23 11:30:26</td>   <td>92754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLeadExcelPar.EditLead(java.lang.String, java.lang.String)[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]">EditLead</td> 
  <td>TestNG-test=Test-2@17721675</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/23 11:30:26</td>   <td>92754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLeadExcelPar.EditLead(java.lang.String, java.lang.String)[pri:0, instance:Week6.Day2.EditLeadExcelPar@7740a2]">EditLead</td> 
  <td>TestNG-test=Test-2@17721675</td>   <td></td> </tr>
</table>
