<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>18/09/30 15:57:58</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:NewTestCases.TC001_CreateLead@9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/30 15:57:58</td>   <td>287</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:NewTestCases.TC001_CreateLead@9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 15:57:58</td>   <td>301</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:NewTestCases.TC001_CreateLead@9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 15:57:59</td>   <td>1179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:NewTestCases.TC001_CreateLead@9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/30 15:58:08</td>   <td>10761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createNewLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:NewTestCases.TC001_CreateLead@9ba398]">createNewLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 15:58:21</td>   <td>23839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:NewTestCases.TC001_CreateLead@9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/30 15:58:24</td>   <td>26353</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:NewTestCases.TC001_CreateLead@9ba398]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
</table>
